#post-preview,
body#ST .post {
    .luxpost {
        //SAF only
        &.saf-custom {
            --accent: rgb(var(--rgb));
            --accent-90: rgba(var(--rgb), 0.9);
            --accent-80: rgba(var(--rgb), 0.8);
            --accent-70: rgba(var(--rgb), 0.7);
            --accent-60: rgba(var(--rgb), 0.6);
            --accent-50: rgba(var(--rgb), 0.5);
            --accent-40: rgba(var(--rgb), 0.4);
            --accent-30: rgba(var(--rgb), 0.3);
            --accent-20: rgba(var(--rgb), 0.2);
            --accent-10: rgba(var(--rgb), 0.1);
            --accent-light: rgb(var(--rgb));
            --accent-light-90: rgba(var(--rgb), 0.9);
            --accent-light-80: rgba(var(--rgb), 0.8);
            --accent-light-70: rgba(var(--rgb), 0.7);
            --accent-light-60: rgba(var(--rgb), 0.6);
            --accent-light-50: rgba(var(--rgb), 0.5);
            --accent-light-40: rgba(var(--rgb), 0.4);
            --accent-light-30: rgba(var(--rgb), 0.3);
            --accent-light-20: rgba(var(--rgb), 0.2);
            --accent-light-10: rgba(var(--rgb), 0.1);
            --wideImage: url(https://picsum.photos/500/250);
            --imagePosition: center;

            --bg-accent-solid: var(--accent);
            --bg-accent: var(--accent-70);
            --bg-accent-high: var(--accent-80);
            --bg-accent-mid: var(--accent-60);
            --bg-accent-low: var(--accent-40);
            
            --text-accent: var(--accent-light);
            
            --border-accent-color: var(--accent);
            --border-accent: 1px solid var(--accent);
            --border-accent-mid: 1px solid var(--accent-60);
            --border-accent-low: 1px solid var(--accent-40);

            tag-image {
                background-image: var(--wideImage);
                background-size: cover;
                background-position: var(--imagePosition);
            }
        }
        //ichor only
        &.ii-custom {
            --squareImage: url(https://picsum.photos/250);
            --imagePosition: center;
            --quote: '';

            tag-image {
                width: 100%;
                aspect-ratio: 1 / 1;
                background-image: var(--squareImage);
                background-size: cover;
                background-position: var(--imagePosition);
            }
            tag-tagline {
                &::before {
                    content: var(--quote);
                }
            }
        }
    }
}

#post-preview .ii-custom,
body#ST .post .luxpost,
body#ST .post:has(.saf-custom) {
    //aiden
    &.luxpost.aiden {
        --squareImage: url('https://64.media.tumblr.com/0720c51d8604fb4e91ea67797e99aced/31edb05a278d2403-5b/s640x960/bb482fcd68b3a3b0aeb511fa2787b5973659c6f8.jpg');
        --quote: 'i had all and then most of you, some and now none of you; take me back to the night we met';
    }

    //avery
    &.saf-10 .luxpost {
        --rgb: 178, 180, 146;
        --wideImage: url(https://64.media.tumblr.com/0235938635ccbabb11726ee0087f2307/6e92ce0d831cced5-e9/s1280x1920/e8b7d08a4badce0ef30c6832c71a3fd16b0b99b5.jpg);
        --imagePosition: top;
    }

    //ben
    &.luxpost.ben {
        --squareImage: url('https://64.media.tumblr.com/9702c38a393bac94dea372e2ef8118d6/4900206cef0dc00e-58/s250x400/d0595ad129f9ad76d805d03445c97306e59fbdcd.gif');
        --quote: "isn't it lovely all alone?";
    }

    //charon
    &.luxpost.charon {
        --squareImage: url('https://64.media.tumblr.com/263259a8a6b0a61c2460bc16c4ac7672/f2774900d8b148c1-6b/s1280x1920/76955caae91e52ee81d01372e2ef76b646aa02d6.png');
        --imagePosition: top;
        --quote: 'and i watched him go, that weary soul, and he felt so tired, to be so alone';
    }

    //chris
    &.saf-15 .luxpost {
        --rgb: 104,118,139;
        --wideImage: url(https://64.media.tumblr.com/5179380187ccf904a472c2101e707d87/tumblr_p2mn217UQa1vz2ghao7_500.gif);
    }
    &.luxpost.chris {
        --squareImage: url('https://64.media.tumblr.com/590ec697dc374d70f6fff88044a35f5d/tumblr_p2mn9qOC1r1vz2ghao3_250.gif');
        --quote: "but you're broken on the floor, still asking him for more";
    }
    &.luxpost.foxchris {
        --squareImage: url('https://64.media.tumblr.com/866615b3a34ec2f6b10d3f0e9541fdaf/9a570f2874979637-96/s1280x1920/e9f5fa662d60da334651965b6d9662215c09938d.jpg');
        --imagePosition: top;
        --quote: "but you're broken on the floor, still asking him for more";
    }

    //cyn
    &.luxpost.cyn {
        --squareImage: url('https://64.media.tumblr.com/ca475ca3d9a0901625be9cbcbea1ef89/f104b885346aef95-b3/s1280x1920/24c1fb936a3d867eaa81ea936d43a2f102a14232.jpg');
        --quote: "reckless but honest words leave out my mouth, like kerosene on a flame of doubt; i just couldn't make it right";
    }
    &.luxpost.fiendcyn {
        --squareImage: url('https://i.pinimg.com/1200x/06/31/6d/06316d98c8701a770f0018e408ff9b9c.jpg');
        --quote: "reckless but honest words leave out my mouth, like kerosene on a flame of doubt; i just couldn't make it right";
    }

    //emma
    &.luxpost.emma {
        --squareImage: url('https://64.media.tumblr.com/65702c7da346a27a57038cfcc22581a2/1890138647412025-fa/s1280x1920/ee56c3405e9b94cfcd168a7b325e8e8172be831d.jpg');
        --imagePosition: top;
        --quote: "everyone said 'you look fine from the outside' but in my mind i was upside down and screaming";
    }

    //fio
    &.luxpost.fio {
        --squareImage: url('https://64.media.tumblr.com/a1253db6762664bd19a2036ef864ef40/5ef0677be384507c-82/s1280x1920/36fb589ce72f6ce62a61eedc35f2531641dfab35.jpg');
        --quote: "sick of the poison, wish i had something to live for tomorrow";
    }

    //gideon
    &.saf-54 .luxpost {
        --rgb: 80, 96, 120;
        --wideImage: url(https://64.media.tumblr.com/14db12bf938c6bd79d428a8ab9efc44a/20b1cc5f7cd7f757-e2/s1280x1920/3d840ebe350a0eca8f5525ec73d71fb205202b59.jpg);
    }
    &.luxpost.gideon {
        --squareImage: url('https://64.media.tumblr.com/4b677ac2413fe3aca506328f8a158b09/20b1cc5f7cd7f757-8b/s1280x1920/21984cfd1cbf6420132538e62d975912cfdca93c.jpg');
        --quote: "but if i forgive you, i'll never forgive myself";
    }

    //hai
    &.luxpost.hai {
        --squareImage: url('https://files.jcink.net/uploads2/idolsandichor//av-190.jpg');
        --quote: "so cross your thoughtless heart, she's the albatross, she is here to destroy you";
    }
    &.luxpost.haidragon {
        --squareImage: url('https://i.pinimg.com/736x/06/87/b0/0687b061654b561b3dfe4786ce27f2d5.jpg');
        --quote: "so cross your thoughtless heart, she's the albatross, she is here to destroy you";
    }

    //harley
    &.saf-11 .luxpost {
        --rgb: 200, 176, 191;
        --wideImage: url(https://64.media.tumblr.com/c1003be3f2640da516e73f8e30139f97/a2b0567dca8400b1-96/s540x810/97483a753024434459733feb4d8e2e817cb05348.gif);
    }

    //kit
    &.saf-17 .luxpost {
        --rgb: 217, 195, 167;
        --wideImage: url(https://64.media.tumblr.com/0ffb1cfb82cf406caac25485cb8d5bf2/b27a2c24c1d7db82-e5/s1280x1920/9efe9b308a6cf44d88d294bf49ac0877931c210e.jpg);
        --imagePosition: top;
    }

    //lincoln
    &.saf-56 .luxpost {
        --rgb: 81, 105, 130;
        --wideImage: url(https://64.media.tumblr.com/d133839eb6885b7eca163a653b0fc9d2/4c1713a289ca5989-40/s1280x1920/b8a0c0a34aed9a87ffed21baf7d8c95c3d789d93.jpg);
        --imagePosition: 50% 28%;
    }

    //loki
    &.luxpost.loki {
        --squareImage: url('https://64.media.tumblr.com/76148d5b9076d72784707aee26269fde/1dd90c44adb5d1a7-62/s1280x1920/4e80013eb70bba0717bf8d055784faf6a7b5d9e5.jpg');
        --imagePosition: top;
        --quote: "never was built to be this way, but turns out the villain is fun to play";
    }

    //lottie
    &.saf-8 .luxpost {
        --rgb: 212, 161, 168;
        --wideImage: url(https://64.media.tumblr.com/af9ec3d9fd3a651a674d8c9c06f6e4a7/779500705ab3fd6b-f0/s1280x1920/93f140ea7927fb9c555a07b0a9938253ac86f3c3.jpg);
    }

    //naomi
    &.luxpost.naomi {
        --squareImage: url('https://64.media.tumblr.com/53a9e899bfe66e9d42f2aef0ce90c1e2/9d0622e23af270f0-9c/s1280x1920/a3899ac773d7cfcee1794ab680ffddd1dbd8dc2f.gif');
        --quote: "i'll lace up my armour and fight for us both";
    }

    //nik
    &.saf-2 .luxpost {
        --rgb: 142, 173, 179;
        --wideImage: url(https://64.media.tumblr.com/326fd41888ea4584b5fa85727be35123/c56795f303b806cd-3c/s1280x1920/c18cdbdd77fa3c6991cc3359ab9c9d646380a530.jpg);
    }
    &.luxpost.nik {
        --squareImage: url('https://i.pinimg.com/736x/48/67/9c/48679c0b451d62da1f6932b67116321f.jpg');
        --quote: 'and i was raised on excellence, always taught to look my best';
    }

    //pluto
    &.luxpost.pluto {
        --squareImage: url('https://files.jcink.net/uploads2/idolsandichor//av-119.jpg');
        --quote: "her touch is like a tempest, her whisper is a breeze, but when she has a temper - it brings me to my knees";
    }

    //river
    &.saf-55 .luxpost {
        --rgb: 97, 143, 141;
        --wideImage: url(https://64.media.tumblr.com/5b88317fa423b84494ada56cf3150c4a/905f53e710799278-30/s1280x1920/13cd37c73210a45820a649a61d1d35fb6faa908a.gif);
    }
    &.luxpost.river {
        --squareImage: url('https://64.media.tumblr.com/5b88317fa423b84494ada56cf3150c4a/905f53e710799278-30/s1280x1920/13cd37c73210a45820a649a61d1d35fb6faa908a.gif');
        --imagePosition: left;
        --quote: "choked up, i realize: i've been less than half myself for more than half my life";
    }

    //rory
    &.luxpost.rory {
        --squareImage: url('https://64.media.tumblr.com/b2fed84e8a19723cb45acb0a8ec63731/cc781a69d683e7d7-b8/s1280x1920/1f42391af20a85077e23c2d39f033fcec94a1f3d.gif');
        --quote: "heavy is the crown only for the weak";
    }

    //simon
    &.saf-9 .luxpost {
        --rgb: 180, 199, 129;
        --wideImage: url(https://64.media.tumblr.com/e1a8b296e71bd501418c9a0eed3fd5cf/tumblr_ocq1j35zbo1qbvi8yo1_540.gif);
    }

    //sonnet
    &.saf-89 .luxpost {
        --rgb: 160, 74, 74;
        --wideImage: url(https://64.media.tumblr.com/8487672442548db0c9e8f65ca065c06a/26b68bc3945651f3-7c/s1280x1920/cb8bdcf3e08ec0e44ce53cac766b04b7e1383ecd.jpg);
    }

    //spence
    &.luxpost.spence {
        --squareImage: url('https://64.media.tumblr.com/f3cbeb06c988e0c6ab6af8911cfeea4a/tumblr_p2s9rxYaMm1vz2ghao1_1280.jpg');
        --quote: "blood is thicker than the water i'm running from; i'd be the wayward love if i wasn't too proud for home";
    }

    //sterling
    &.saf-22 .luxpost {
        --rgb: 207, 167, 52;
        --wideImage: url(https://64.media.tumblr.com/889b0b7596365cfcc1e602d2a789dc73/90c3ab572ea71606-c7/s1280x1920/7fa10af1ede8c0e3214d3e929a7cb8e7e602197c.jpg);
    }
    &.luxpost.sterling {
        --squareImage: url('https://64.media.tumblr.com/9cd2ad95eeaefc08ccbb7f011efd5ab1/c4a88870f28cf267-27/s1280x1920/40a19c8a21ad45069a33fd4621794f5426532c1a.jpg');
        --quote: "weep, little lion man, you're not as brave as you were at the start";
    }

    //vee
    &.luxpost.vee {
        --squareImage: url('https://64.media.tumblr.com/60ed9e156c6076fc309080bb40fc4f89/tumblr_pehwdpjqpX1r3i2gwo5_540.gif');
        --quote: "i won't die for love, but ever since i met you, you could have my heart and i would break it for you";
    }

    //willa
    &.saf-16 .luxpost {
        --rgb: 127, 116, 143;
        --wideImage: url(https://64.media.tumblr.com/36e44e9ad70ac8a40962fb9fe7c3edc6/1dd90c44adb5d1a7-2d/s1280x1920/16a2ec0d6c2a5df7460e67e7d4ad51309b27e915.jpg);
    }

    //winnifred
    &.saf-53 .luxpost {
        --rgb: 148, 122, 99;
        --wideImage: url(https://64.media.tumblr.com/412fa866c550cfa96c564b99d1136a72/5f9276684595d771-72/s1280x1920/539ba2ee43b5aaeed5343ea02de01a63dd28014a.jpg);
    }
    &.luxpost.winnie {
        --squareImage: url('https://64.media.tumblr.com/a15be12b9853c3474c008e37489f98e6/5f9276684595d771-23/s1280x1920/b56d7a2a75c7c7e69fd0182627010d95db7e914f.jpg');
        --imagePosition: top;
        --quote: 'give me peace through the heartache, give me hope in the heartbreak';
    }
}